
.images{
    height: 150px;
    width: 150px;
}
.id{
    background-color: aqua;
}
.submit{
    background-color: aqua;
}
.icon{
    height: 50px;
    width: 50px;
}
.txt{
    text-align: center;
    background-color: aqua;
}
.info{
    text-align: center;
    
    font-weight: bolder;
    font-size: larger;
    background-color: aqua;
}
.theatreimg{
margin-left: 190px;
border: 20px aqua double;
border-radius: 50px;
    width: 1000px;
    height: 500px;
}